{% extends "layout.html" %}

{% block title %}External Data{% endblock %}

{% block content %}
<h1 class="my-4">External Data</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ item }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/" class="btn btn-primary mt-4">Back to Home</a>
{% endblock %}