{% extends "layout.html" %}
{% block title %}Test to Image{% endblock %}

{% block content %}

<h1>Text to Image Generator</h1>
<form method="post">
    <label for="prompt">Enter text prompt:</label>
    <textarea  type="text" id="prompt" name="prompt" required></textarea>
    <button type="submit">Generate Image</button>
</form>

<h2>Generated Image:</h2>
<div id="imageContainer">
    {% if img_data %}
    <img src="data:image/png;base64,{{ img_data }}" alt="Uploaded Image">
    {% endif %}
</div>
<br />
<a href="/" class="btn btn-primary mt-4">Back to Home</a>
{% endblock %}





